WhatsInMyFridge/WhatsInMyFridge/bin
WhatsInMyFridge/WhatsInMyFridge/obj
WhatsInMyFridge/WhatsInMyFridge.Android/bin
WhatsInMyFridge/WhatsInMyFridge.Android/obj
WhatsInMyFridge/WhatsInMyFridge.iOS/bin
WhatsInMyFridge/WhatsInMyFridge.iOS/obj
.vs/WhatsInMyFridge/v16/.suo
.vs/hatsInMyFridge/DesignTimeBuild/.dtbcache.v2
WhatsInMyFridge/WhatsInMyFridge.Android/WhatsInMyFridge.Android.csproj.user

