WhatsInMyFridge/WhatsInMyFridge/bin
WhatsInMyFridge/WhatsInMyFridge/obj
WhatsInMyFridge/WhatsInMyFridge.Android/bin
WhatsInMyFridge/WhatsInMyFridge.Android/obj
WhatsInMyFridge/WhatsInMyFridge.iOS/bin
WhatsInMyFridge/WhatsInMyFridge.iOS/obj

